@model List<UserBlog>

@{
	ViewData["Title"] = "Index";
}	
<!-- #masthead -->
<div id="content" class="site-content">
	<div id="primary" class="content-area column full">
		<main id="main" class="site-main">
			<div class="grid portfoliogrid">	
				@foreach(var blog in Model)
				{
					var pram = new Dictionary<string, string>
					{
						{"id", blog.Id.ToString() }
					};
					<article class="hentry">
						<header class="entry-header">
							<div class="entry-thumbnail">
								<a asp-action="Portfolio" asp-controller="Home" asp-all-route-data=pram ><img src="~/img/@blog.Image" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="p1" /></a>
							</div>
							<h2 class="entry-title"><a>@blog.Title</a></h2>
							<a class='portfoliotype'>cmt:@(blog.Comments == null ? 0 : blog.Comments.Count()) </a>
							<a class='portfoliotype'>@blog.DateTime.ToString("dd/MM/yyyy")</a>
						</header>
					</article>
				}
				@* <article class="hentry">
					<header class="entry-header">
						<div class="entry-thumbnail">
							<a href="portfolio-item.html"><img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/15/2015/09/30162427/p1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="p1" /></a>
						</div>
						<h2 class="entry-title"><a href="portfolio-item.html" rel="bookmark">Sunset Beach</a></h2>
						<a class='portfoliotype' href='portfolio-category.html'>summer</a>
						<a class='portfoliotype' href='portfolio-category.html'>woman</a>
						<a class='portfoliotype' href='portfolio-category.html'>yellow</a>
					</header>
				</article> *@
			</div>
			<!-- .grid -->
@* 
			<nav class="pagination">
				<span class="page-numbers current">1</span>
				<a class="page-numbers" href="#">2</a>
				<a class="next page-numbers" href="#">Next »</a>
			</nav> *@
			<br>

		</main>
		<!-- #main -->
	</div>
	<!-- #primary -->
</div>